
.App {
  text-align: center;
}

/* landing */
.landing {
  width: 100% !important;
  max-width: none !important;
   position: relative; 
  background: url("https://nowmoney.me/wp-content/uploads/2018/07/bg-contact-options-1.jpg") no-repeat center center/cover;
  height: 100vh;
}

.smsVerification {
  width: 100% !important;
  max-width: none !important;
  position: relative;
  background: url("./assets/img/bg.jpg") no-repeat ;
  height: 100vh;
}

.pull-left {
  text-align: left !important;
}

.hover-color:hover{ background: repeating-linear-gradient(
  -55deg,
  #232,
  #228 10px,
  #333 10px,
  #333 20px
);
}
/* input[type='file'] {
  opacity:0    
} */
.tableStyle{
  width: 120% !important;
}

.table-style-transaction{
  width: 165% !important;
}
.permission-btn{
  margin-left: 90% !important;
  background-color: blue !important;
}
.table-text-center{
text-align: center !important;
}
.font-11 {
  font-size: 11px !important;
  padding-left: 10px;
}